<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>viewproducts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="list">
    <ion-card class="card1">
      <ion-img  alt="Preview Image" class="table-image"></ion-img>
      <div class="table-data">
        <div>Product Name: </div>
          <div>Description: </div>
      </div>
      <div class="table-data">Quantity: </div>
      <button >
        <span>
           Print Slip
        </span>
       </button>
    </ion-card>
  </ion-list>
</ion-content>
