<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>add</ion-title>
    <ion-icon (click)="closeScanner()" class="cam" slot="end" name="camera-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="form" id="container">
    <label>Product Name: </label>
    <input type="text" [(ngModel)]="product" placeholder="Product" name="text" class="input">
    <label>Product Description: </label>
    <textarea placeholder="Description" [(ngModel)]="description" id="comment" name="comment" rows="5" required="" class="input"></textarea>
    <label>Quantity: </label>
    <input type="number" placeholder="Quantity" [(ngModel)]="quantity" name="text" class="input">
    <label>Image: </label>
    <button class="flip-card__btn1" (click)="generateSlip()" >Scan Barcode
      <ion-icon class="cam" slot="end" name="camera-outline"></ion-icon>
    </button>
    <label>Barcode: </label>
    <input type="text" [(ngModel)]="barcode" placeholder="barcode" name="text" class="input">
      <div class="sort">
        <input type="file" width="150px" name="text" class="input">
        <ion-icon class="icon" slot="end" name="camera-outline" (click)="takePhoto()"></ion-icon>
      </div>

      <div class="preview-container" *ngIf="capturedPhotos">
        <ion-img [src]="previewImage" alt="Preview Image"></ion-img>
      </div>

      <button class="flip-card__btn" (click)="submit()" >Submit!</button>
  </div>
  

</ion-content>
