<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="cards">
    <div class="card blue" (click)="goToAddNewStock()">
        <p class="tip">New Items</p>
        <ion-icon class="icon" name="add-circle-outline"></ion-icon>
    </div>
    <div class="card green" (click)="goToStockExchange()">
        <p class="tip">Stock-Exchange</p>
        <ion-icon class="icon" name="shuffle-outline"></ion-icon>
    </div>
    <div class="card red" (click)="goToInventory()">
      <p class="tip">Inventory</p>
      <ion-icon class="icon" name="enter-outline"></ion-icon>
  </div>
  <div class="card blue" (click)="goToAddUser()">
      <p class="tip">Add Driver</p>
      <ion-icon class="icon" name="person-add-outline"></ion-icon>
  </div>
  <div class="card green" (click)="goToAnalytics()">
      <p class="tip">Analytics</p>
      <ion-icon class="icon" name="trending-down-outline"></ion-icon>
  </div>
</div><button class="flip-card__btn" (click)="Exit()" >Exit!</button>
</ion-content>
