<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="cards">
    <div class="card red">
        <p class="tip">Incoming Stock</p>
        <p class="second-text">Lorem Ipsum</p>
    </div>
    <div class="card blue">
        <p class="tip">New Items</p>
        <p class="second-text">Lorem Ipsum</p>
    </div>
    <div class="card green">
        <p class="tip">Outgoing Stock</p>
        <p class="second-text">Lorem Ipsum</p>
    </div>
    <div class="card red">
      <p class="tip">Inventory</p>
      <p class="second-text">Lorem Ipsum</p>
  </div>
  <!-- <div class="card blue">
      <p class="tip">Hover Me</p>
      <p class="second-text">Lorem Ipsum</p>
  </div>
  <div class="card green">
      <p class="tip">Hover Me</p>
      <p class="second-text">Lorem Ipsum</p>
  </div> -->
</div>

</ion-content>
