.cards {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10%;
}

.cards .red {
  background-color:cyan;
}

.cards .blue {
  background-color:rgb(124, 246, 250);
}

.cards .green {
  background-color:lightskyblue;
}

.cards .card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100px;
  width: 400px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  transition: 400ms;
}

.cards .card p.tip {
  font-size: 1em;
  font-weight: 700;
}

.cards .card p.second-text {
  font-size: .7em;
}

.cards .card:hover {
  transform: scale(1.2, 1.2);
}

.cards:hover > .card:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}

.icon{
  width: 30px;
  height: 30px;
}
.flip-card__btn {
  --input-focus: #2d8cf0;
  --font-color: #323232;
  --font-color-sub: #666;
  --bg-color: #fff;
  --main-color: #323232;
  margin: 20px 0 20px 0;
  width: 90%;
  height: 40px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  background-color:rgb(124, 246, 250);
  box-shadow: 4px 4px var(--main-color);
  font-size: 17px;
  font-weight: 600;
  color: var(--font-color);
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 5%;
  z-index: 9999; /* Ensure it's above other content */
}

@media (max-width: 768px) {
  .cards{
    top: 5%;
    flex-direction: column;
    align-items: center;
  }
}